/******************************************** Normalize ********************************************/

@font-face {
    font-family: "Fantome regular";
    src: url("../src/fonts/Fantome-Regular.ttf");
}
html{
    overflow-x: hidden;
    /* COULEUR TEXTE */
    color:  white;
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
    scroll-behavior: smooth;
}

body {
    background-color: #08111C;
}


::-webkit-scrollbar {
    background-color: #08111C;
    width: 0.6vw;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, #DDC391);
    border-radius: 100vw;
    /*box-shadow: 0 -100vh 0 100vh #DDC391;*/
}
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(transparent, #b49965);
}

h1, h2, h3{
    color: #DDC391;
    font-family: "Fantome regular";
    text-transform: uppercase;
    font-weight: lighter;
}

h1{
    font-size: 8em;
    /*letter-spacing: 0.4vw;*/
}

h2{
    font-size: 6em;
}

h3{
    font-size: 4em;
}

p {
    opacity: 90%;
}


/******************************************** MENU ********************************************/
.container {
    /*max-width: 1050px;
    box-shadow: inset 0 0 2000px rgb(220, 0, 0);*/
    max-width: 100vw;
    width: 100%;
    margin: auto;

}

/*.navbar {
    width: 100%;
    box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}*/

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}

.navbar .menu-items {
    display: flex;
}

.navbar .nav-container li {
    list-style: none;
}

.nav-container {
    display: block;
    position: relative;
    height: 60px;
}

.nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    right: 3vw;
    z-index: 60;
    opacity: 0;
    cursor: pointer;
}

.nav-container .hamburger-lines {
    display: block;
    height: 16px;
    width: 46px;
    position: absolute;
    top: 4vh;
    right: 3vw;
    z-index: 55;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-container .hamburger-lines .line {
    display: block;
    height: 3px;
    width: 100%;
    /*border-radius: 10px;*/
    background: #DDC391;
}

.nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
    height: 70vh;
    width: 100%;
    transform: translateY(-150%);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;

    background: rgba(39, 35, 43, 0);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.2px);
    -webkit-backdrop-filter: blur(11.2px);
    /*border: 1px solid rgba(39, 35, 43, 1);*/

    overflow-y: hidden;
}


.nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(17deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-17deg);
}


/******************************************** Modif Lulu ********************************************/

.contact, .about{
    width: 40vw;
    display: flex;
    flex-direction: column;
}

.menu-items h2{
    font-size: 3em;
    margin-left: 5vw;
}

.menu-items h3{
    font-size: 1.5em;
}

.mainContact{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.colContact{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: auto;
}

.celContact img {
    width: 2vw;
    height: auto;
    margin-right: 0;
    margin-left: 0.5vw;
}

.celContact p a {
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    color: white;
}

.celContact p a:after {
    content: '';
    display: block;
    margin: auto;
    height: 0.1vh;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

.celContact p a:hover:after {
    width: 100%;
    background: #ffffff;
}


/******************************************** ACCUEIL ********************************************/

.home{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home h1{
    margin: -100vh 0 0 0;
}

.home img {
    margin: -50vh 0 0 -5vw;
    width: 100vw;
    height: auto;
    object-fit: cover;
    object-position: bottom;
}

.homeProjet{
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.homeProjet h3{
    margin: 0 auto 0 3vw;
}

.ligneProjet{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10vh auto 0 auto;
}

.unProjet{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    opacity: 70%;
}

.unProjet p:first-of-type{
    margin-bottom: 0;
    font-size: 1.25em;
}

.unProjet p:last-of-type{
    margin-top: 0;
    font-size: 0.875em;
}

.unProjet img{
    text-align:center;
    margin:auto;
    display:flex;
    width: 30vw;
    height: auto;
    object-fit: cover;
    object-position: bottom;


    will-change: transform;
    transition: transform 450ms;
}

.unProjet img:hover {
    transition: transform 125ms;
    transform: translateY(-10px);
}

.unProjet:hover {
    opacity: 100%;
}

/******************************************** BOUTON ********************************************/
#scroll_to_top {
    position: fixed;
    width: 25px;
    height: 25px;
    bottom: 50px;
    right: 30px;
}

.center-con {
    display: flex;
    height: 25vh;
    align-items: center;
    justify-content: center;
}

.round {
    position: relative;
    border: 2px solid #DDC391;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.round span {
    z-index: 999;
    height: 2px;
    width: 15px;
    background: #DDC391;
    transition: 0.4s ease;
}

.round span:first-child {
    display: block;
    position: absolute;
    transform: rotate(135deg);
    left: 25%;
    bottom: 35%;
}

.round span:nth-child(2) {
    display: block;
    position: absolute;
    transform: rotate(-135deg);
    left: 45%;
    bottom: 35%;
}

.round span:nth-child(3) {
    display: block;
    position: absolute;
    transform: rotate(135deg);
    left: 25%;
    bottom: 54%;
}

.round span:nth-child(4) {
    display: block;
    position: absolute;
    transform: rotate(-135deg);
    left: 45%;
    bottom: 54%;
}

.round:hover span:nth-child(1) {
    transform: rotate(-45deg);
}

.round:hover span:nth-child(2) {
    transform: rotate(45deg);
}

.round:hover span:nth-child(3) {
    transform: rotate(-45deg);
}

.round:hover span:nth-child(4) {
    transform: rotate(45deg);
}


/******************************************** FOOTER ********************************************/
footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
}

footer p {
    font-size: 0.875em;
}


/******************************************** RESPONSIVE ********************************************/

@media screen and (max-width: 800px) {
    .ligneProjet{
        flex-direction: column;
        align-items: center;
        margin: 0 auto 0 auto;
    }
    .unProjet{
       width: 80vw;
        margin: 2vh auto 0 auto;
    }
    .unProjet img{
        width: 70vw;
    }
    .unProjet p:first-of-type{
        margin-bottom: 0;
        font-size: 1em;
    }

    .unProjet p:last-of-type{
        margin-top: 0;
        font-size: 0.75em;
    }

    footer p {
        font-size: 0.75em;
    }
}